{% extends "base.html" %}

{% block title %}
    {{obj.shortcode}}
{% endblock title %}
{% block content %}
<div>
    <h1> Pet Project por <a href="http://cuahutli.com" class="creador">cuahutli</a> </h1>
    <p> Este proyecto fue creado con la finalidad de seguir aprendiendo Django y Python, es para fines personales y de aprendizaje, puedes encontrar en código en <a href="https://github.com/Cuahutli/uscit.me" class="link">github</a>, y fue realizado utilizando como guía el tutorrial de tryDjango 1.10 de <a href="https://www.codingforentrepreneurs.com/" class="link">Coding for Entrepreneurs</a></p>
</div>
{% endblock content %}